BLOG_BASE_URL=https://example.com
BLOG_BASE_PATH=/blog
BLOG_CONTENT_DIR=/var/www/blog
BLOG_HOST=example.com
BLOG_USER=root
BLOG_REMOTE_DIR=/var/www/blog
BLOG_RSYNC_FLAGS=-az --delete
BLOG_SSH_PASSWORD=
